body {
  background: linear-gradient(121deg, #563186 29.33%, #372451 88.69%) no-repeat;
}

section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 70% 1fr;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px #ddff;
}

header {
  grid-column-end: span 2;
}

footer {
  grid-column-end: span 2;
}

.layerLeft {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.layerLeft .text1 {
  color: #EBEBEB;
  font-size: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  width: 354px;
  height: 88px;
  margin-top: 260px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.layerLeft .text2 {
  color: #EBEBEB;
  font-size: 14px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 354px;
  height: 28px;
  margin-bottom: 20px;
  margin-left: 100px;
}